/*
font-family: 'Nunito Sans', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Lato', sans-serif;
font-family: 'Dosis', sans-serif;


/* -------------------------GENERAL-------------------- */

* {
    box-sizing: border-box;
    /*border: red 1px solid;*/
    margin: 0;
}

body {
    height: 100%;
    font-size: 30px;
    color: black;
    font-weight: 600;
    text-align: center;
    background-color: white;
    font-family: 'Josefin Slab', serif;
    letter-spacing: 2px;
}

.flex-wrapper {}

header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 2px 10px 5px;
    background-color: black;
}

header h1 {
    display: inline;
    font-size: 30px;
    margin: 0 13% 0 8%;
    color: White;
}

footer {
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    padding: 20px 2px 15px 5px;
}

a {
    color: white;
}

p {
    font-size: 22px;
    color: black;
    font-weight: 600;
    margin: 15px;
}

h2 {
    font-size: 60px;
    color: #9BD9D9;
    margin: 30px;
}

h3 {
    margin-top: 20px;
    padding: 10px;
}

span#header {
    font-size: 1em;
    font-family: 'Nunito Sans', sans-serif;
    color: #9BD9D9;
    font-weight: 800;

}

.c_cpntainer1,
.c_cpntainer2,
.c_cpntainer3 {
    margin: 0 5% 30px 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.spacer {
    height: 100px;
    width: 100%;
}

/* -------------------------INDEX-------------------- */

button {
    border: none;
    background-color: rgb(0, 0, 0);
    width: 30%;
    padding: 1%;
    margin: 25px;
    font-size: 22px;
    color: white;
    padding: 15px;
    font-family: 'Josefin Slab', serif;
}

input {
    font-family: 'Josefin Slab', serif;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid 1px rgb(125, 125, 125);
    font-size: 18px;
    height: 25px;
    background-color:rgb(248, 248, 248);
    width: 20%;
    text-align: center;
}

input:focus {
    border-top: white;
    border-right: white;
    border-left: white;
    border-bottom: solid 1px black;
    background-color: white;
    padding: 5px;

}

#i_login input {

    border-bottom: solid 1px rgb(125, 125, 125);
    font-size: 17px;
    height: 35px;
    width: 65%;
    margin-bottom: 15px;;
    /*background-color: #9BD9D9;*/
    background-color:rgb(248, 248, 248);
}

#i_login input:focus {
    border-bottom: solid 1px black;
    padding: 5px;

}

#login,
#salirFooter {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0;
}

#login button:hover {
    background-color: #d8f9f9;
    color: black;
}


span#title {
    border-bottom: 6px solid #ffb700;
}


#i_login {
    margin: 0 auto 0 auto;
    padding-top: 15px;
    padding-bottom: 30px;
    width: 80%;
    min-height: fit-content;
    max-height: 300px;
    border-radius: 1px;
    border-radius: 8px;
    /*margin-bottom: 50px;*/
}

/*-----CAMARERO-------*/



.wrapper {
    z-index: 1;
    width: 100%;
    margin-top: 100px;
}

#scroll-content {
    z-index: 1;
}

.c_mesasA {
    width: 70px;
    height: 70px;
    background-color: #FBF2CF;
    margin: 7px;
    text-align: center;
    color: #d0a600;
    font-size: 24px;
    font-weight: 800;
    border-radius: 3px;
}

.c_mesasA:hover {
    background-color: #ffe478;
}

.c_mesasC {
    width: 70px;
    height: 70px;
    background-color: #C6EBC5;
    margin: 7px;
    text-align: center;
    font-size: 24px;
    color: #6c8549;
    border-radius: 3px;
}

.c_mesasC:hover {
    background-color: #93cf91;
}

.c_mesasR {
    width: 70px;
    height: 70px;
    background-color: #ff9292;
    margin: 7px;
    text-align: center;
    color: #792929;
    font-size: 24px;
    border-radius: 3px;
}

.c_mesasR:hover {
    background-color: #fe7171;
    ;
}

.c_ticket {
    width: 80%;

    background-color: #bde5e5;
    color: #178d8d;
    margin: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border-radius: 5px;
}

/* ------------------------------- ADMIN AREA --------------------------------------- */



.menu_admin {}

.menu_admin h5 {
    background-color: #fce279;
    color: #aa8800;
    padding: 7px;
    width: 90%;
    margin: 5px 5% 15px 5%;
    border-radius: 5px;
}

.submenu {
    background-color: #FBF2CF;
    color: #b69200;

    padding: 7px;
    width: 90%;
    margin: 10px 5% 5px 5%;
    border-radius: 5px;

}

.añadirArticulo {
    background-color: #ffe88e;
    color: #b69200;

    padding: 7px;
    width: 40%;
    margin: 20px 5% 5px 5%;
    border-radius: 5px;
    font-weight: 400;

}

.gestionCamareros {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    ;

}

.row1 {
    border: solid 3px #fce279;
    ;
    border-radius: 5px;
    ;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    padding-top: 10px;
}

.labelName {
    display: block;
    font-size: 15px;
    color: #aa8800;
    text-align: left;
    margin-left: 40px;

}

.userName,
.userPass,
.menuInput,
select {
    font-size: 22px;
    width: 80%;
    border-bottom: #aa8800 solid 1px;
    margin-bottom: 5px;
}

select {
    font-size: 22px;
    width: 80%;
    border: #aa8800 solid 1px;
    color: #aa8800;
    margin-bottom: 25px;
    margin-top: 15px;
    font-family: 'Josefin Slab', serif;

}

.content {
    display: flex;
    flex-direction: row;
    margin: 20px 5% 5px 5%;
    justify-content: center;
    background-color: #9BD9D9;
    padding: 0;
    border-radius: 5px;

}

.content p {
    font-size: 17px;
    margin-left: 3px;
}

details summary {
    list-style-type: none;
    transition: 0.5s linear;
}

details summary::-webkit-details-marker {
    display: none;
}

details summary::marker {
    display: none;
}

#a_resultados {
    margin: 30px 5% 30px 5%;
}

#salirAdmin {
    display: inline;
    margin: 5px 0 5px;
    padding: 15px 0 15px 0;
    width: 100%;
    background-color: rgb(14, 14, 14);
    border: solid 2px rgb(80, 80, 80);
    border-radius: 5px;
}

#modificar {
    display: none;
}

.miniBtn {
    display: inline;
    width: 25%;
    background-color: #629461;
    margin: 0;
}


.mesasAtendidas {
 border: 3px solid #fce279;
 width: fit-content;
 margin: 0 auto 10px auto;
 border-radius: 40px;
 color:#aa8800;
 background-color: #fef9e1;
 padding: 5px 5px 0 5px;
}
.camareroAt{
margin: 0;
color:#775f00;
}

/* ----MESA----*/

#menu_btns {
    margin: 0 5% 30px 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.bebida-caliente {
    width: 28%;
    height: 70px;
    background-color: #FBF2CF;
    text-align: center;
    color: #b69200;
    font-size: 15px;
    font-weight: 800;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 0;
}

.bebida-fria {
    width: 28%;
    height: 70px;
    background-color: #fce279;
    text-align: center;
    color: #aa8800;
    font-size: 15px;
    font-weight: 800;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 0;
}

.primeros {
    width: 28%;
    height: 70px;
    background-color: #C6EBC5;
    ;
    text-align: center;
    color: #629461;
    ;
    font-size: 15px;
    font-weight: 800;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 0;
}

.segundos {
    width: 28%;
    height: 70px;
    background-color: #ff9292;
    text-align: center;
    color: #a53636;
    font-size: 15px;
    font-weight: 800;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 0;
}

.postres {
    width: 28%;
    height: 70px;
    background-color: #92deff;
    text-align: center;
    color: #0c91ca;
    font-size: 15px;
    font-weight: 800;
    border-radius: 3px;
    margin: 5px 5px;
    padding: 0;
}

#screen1 {
    position: sticky;
    z-index: 2;
    top: 68px;
    left: 5%;
    width: 100%;
    height: 325px;
    background-color: white;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
}

#screen {
    height: 300px;
    width: 90%;
    border-radius: 10px;
    background-color: #ebf8f8;
    text-align: left;
    margin: 0 5% 0 5%;
    overflow: auto;
}

#screen div {
    height: 100px;
    background-color: #6c8549;
}

.pedido {
    margin: 10px 0 5px 30px;
    padding: 0;
    font-size: 16px;
}

.c_nombre p,
.c_nombre {
    margin: 10px 0 20px 15px;
    padding: 0;
}



#cerrar,
#revisar,
#salir {
    display: inline;
    margin: 5px 0 5px;
    padding: 15px 0 15px 0;
    width: 30%;
    background-color: rgb(14, 14, 14);
    border: solid 2px rgb(80, 80, 80);
    border-radius: 5px;
}



#cerrar:hover,
#revisar:hover,
#salir:hover {
    background-color: rgb(46, 46, 46);
}

#footComandas {
    margin: 0;
    padding: 0;
}


/* ------------------------Ticket--------------------------*/
#ticketImp {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#col1 {
    width: 60%;
    text-align: left;
    margin-left: 15px;

}

#col2 {
    width: 15%;
    border-right: 1px solid black;

}

#col3 {
    width: 25%;

}

#total {
    text-align: right;
    margin-right: 20px;
    ;
}

.divider {
    height: 3px;
    width: 75%;
    background-color: black;
    margin: 20px 10% 25px 10%;
}

.btnClient {
    width: 45%;
    display: inline;
    margin: 5px 0 5px;
    padding: 15px 0 15px 0;
    background-color: rgb(14, 14, 14);
    border: solid 2px rgb(80, 80, 80);
    border-radius: 5px;
}

/*--------------------------- Pago --------------------------*/

#p_total{
    border: 3px solid #fce279;
    width: fit-content;
    margin: 20px auto 45px auto;

}

h3 span {
    border-bottom: 3px solid #92deff;
}


.pagoBody {
    letter-spacing: -0.5px;
    text-align: left;
    font-weight: 600;
    margin-left: 30px;
    color: #5d5d5d;
}

input.pagoBody {
    width: 200px;
    border-bottom: 1px solid rgb(145, 145, 145);
    margin-bottom: 5px;
}

#caducCVV {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: solid rgb(213, 213, 213);
    border-left: solid rgb(213, 213, 213);
    border-right:  solid rgb(213, 213, 213);
    margin: 0 5% 0 5%;
}

#mitadArr {
    border-top: solid rgb(213, 213, 213);
    border-left: solid rgb(213, 213, 213);
    border-right:  solid rgb(213, 213, 213);
    margin: 0 5% 0 5%;
}

img {
    width: 50px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.small {
    width: 55px;
    border-bottom: 1px solid rgb(145, 145, 145);
    margin-bottom: 30px;
    margin-left:20px;
}
#pagoFooter button{
width: 45%;
}

#pagoFooter {
padding: 0
}

#pagoFooter #cerrar{
 background-color: #629461;
}

/* ------------------ALERTS-----------------------*/

#alerta {
  padding: 20px;
  background-color: #f44336;
  width:90%;
  position:absolute;
  left:5%;
  top:380px;
  z-index: 5;
  height: fit-content;
}
